@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
$font: 'Nunito', sans-serif;
$heading_size: 40px;
$heading_lineheight: 40px;
$text_size: 16px;
$text_lineheight: 26px;
$bg_yellow: #F4E041;
$bg_yellow_hover: #FFE302;
$bg_disabled: #B4B4B4;
$bg_blue: #00BDD3;
$bg_lightGray: #F8F8F8;